# @file
# .travis.yml - PKP Plugins Integration

dist: focal
os: linux
language: php

addons:
  chrome: beta
  postgresql: "9.5"
  apt:
    update: true
    packages:
      - libvulkan1
      - libu2f-udev

sudo: required

php:
  - 8.1.0
  - 8.2.0

env:
  - APPLICATION=ojs BRANCH=stable-3_4_0 TEST=mysql
  - APPLICATION=ojs BRANCH=stable-3_4_0 TEST=pgsql
  - APPLICATION=omp BRANCH=stable-3_4_0 TEST=mysql
  - APPLICATION=omp BRANCH=stable-3_4_0 TEST=pgsql

install:
  # Prepare OJS/OMP environment
  - git clone -b ${BRANCH} https://github.com/pkp/${APPLICATION} ~/${APPLICATION}
  - cd ~/${APPLICATION}
  - git submodule update --init --recursive
  - source lib/pkp/tools/travis/prepare-tests.sh
  - lib/pkp/tools/travis/prepare-webserver.sh
  # Build/install dependencies
  - lib/pkp/tools/travis/install-composer-dependencies.sh
  - npm i g -npm && npm install && npm run build
  # Make sure we're using the current checkout of this repo rather than the built-in OJS/OMP version
  - rm -rf ~/${APPLICATION}/plugins/generic/customBlockManager
  - ln -s ${TRAVIS_BUILD_DIR} ~/${APPLICATION}/plugins/generic/customBlockManager

script:
  - $(npm bin)/cypress run --spec "cypress/tests/data/10-ApplicationSetup/10-Installation.cy.js,cypress/tests/data/10-ApplicationSetup/20-CreateContext.cy.js"
  - $(npm bin)/cypress run --config '{"specPattern":["plugins/generic/customBlockManager/cypress/tests/functional/*.cy.js"]}'

after_failure:
  - cat error.log
  - sudo apt-get install sharutils
  - tar cz cypress/screenshots | uuencode /dev/stdout
